<!DOCTYPE html>
<html>
  <head>
    <title>Restore password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
	  body {
	    background-color: linen;
	  }

	  #wrong_username_msg, #wrong_email_msg, #wait_msg1, #wait_msg2, #email_sent_msg1, #email_sent_msg2 {
	    display: none;
	  }

	  p {
	    text-transform: uppercase;
	  }
	</style>
  </head>
  <body>
    {% include 'includes/navbar.html' with username=username %}

    <a>Username:</a>
	<input type = 'text' id = 'username_field'>
	<button onclick = "sendMail('username')">Restore</button><br>
	<a id = 'wait_msg1'><br>Just a second...</a>
	<a id = 'email_sent_msg1'><br>A letter with your new password was sent to your E-mail</a>
	<a id = 'wrong_username_msg'><br>Ooops... It looks like you entered the wrong username...</a>
	<p>or</p>
	<a>E-mail:</a>
	<input type = 'text' id = 'email_field'>
	<button onclick = "sendMail('email')">Restore</button><br>
	<a id = 'wait_msg2'><br>Just a second...</a>
	<a id = 'email_sent_msg2'><br>A letter with your new password was sent to your E-mail</a>
	<a id = 'wrong_email_msg'><br>Ooops... It looks like you entered the wrong E-mail...</a>
	<script>
	  function hideAllMsg() {
	    $('#wait_msg1').hide();
		$('#wait_msg2').hide();
		$('#email_sent_msg1').hide();
		$('#email_sent_msg2').hide();
		$('#wrong_username_msg').hide();
		$('#wrong_email_msg').hide();
	  }

	  function sendMail(field) {
	    eval("var data = {" + field + ": $('#' + field + '_field').val()};");

		hideAllMsg();
		if (field == 'username') {
		  $('#wait_msg1').show();
		} else {
		  $('#wait_msg2').show();
		}

		$.ajax({
		  type: 'GET',
		  async: true,
		  url: '',
		  data: data,
		  success: function(success) {
		    hideAllMsg();
		    if (success) {
			  if (field == 'username') {
			    $('#email_sent_msg1').show();
			  } else {
			    $('#email_sent_msg2').show();
			  }
			  setTimeout(function() {location.replace('/accounts/sign_in/')}, 5000);
			} else {
			  if (field == 'username') {
			    $('#wrong_username_msg').show();
			  } else {
			    $('#wrong_email_msg').show();
			  }
			}
		  },
		  error: function() {
		    hideAllMsg();
		    alert('Error in AJAX((99(((((99((');
		  }
		})
	  }
	</script>
  </body>
</html>