<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Разработчики</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Ourteam" />
    <meta name="author" content="TeamofPI" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Poiret+One|Marck+Script|EB+Garamond&subset=latin,cyrillic"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="/static/main/OurTeam/lists.css" />
    <link rel="stylesheet" type="text/css" href="/static/main/OurTeam/single.css" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function(m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function() {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js",
        "ym",
      );

      ym(23928760, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <a href="/">Вернуться на главную</a>
      </div>
      <header class="clearfix">
        <h1>Our Team <span></span></h1>
      </header>
      <section>
        <h3><span class="bgTeam">Full Stack</span></h3>
        <div class="tutorial">
          <ol class="rounded">
            <li><a href="https://t.me/RoAlex">Рожков Алексей</a></li>
          </ol>
        </div>
        <h3><span class="bgTeam">Designers</span></h3>
        <div class="tutorial">
          <ol class="rounded">
            <li><a href="https://t.me/u3o8z">Жила Мария</a></li>
            <li><a href="https://t.me/sonchikkKkkkkk">Быковская София</a></li>
          </ol>
        </div>
        <h3><span class="bgTeam">Frontenders</span></h3>
        <div class="tutorial">
          <ol class="rounded">
            <li><a href="https://t.me/BlackJack_8">Капустянский Даниил</a></li>
            <li><a href="https://t.me/stussy_jpeg">Станислав Куценко</a></li>
            <li><a href="https://t.me/Tetiank_a">Ракова Татьяна</a></li>
            <li><a href="https://t.me/MZ_help_me">Зорин Михаил</a></li>
            <li><a href="https://t.me/Stahlgewittern">Куприянов Михаил</a></li>
            <li><a href="https://t.me/TupoKCh">Чернов Кирилл</a></li>
            <li><a href="https://t.me/Coconut022">Карпенко Андрей</a></li>
            <li>
              <a href="https://t.me/Artem_Gavryushenko">Гаврюшенко Артем</a>
            </li>
            <li><a href="https://t.me/Lexa_Selevich">Селевич Алексей</a></li>
            <li><a href="https://t.me/toucancoucan">Максим Будник</a></li>
            <li><a href="https://t.me/Integra_4">Щербина Анастасия</a></li>
          </ol>
        </div>
        <h3><span class="bgTeam">Backenders</span></h3>
        <div class="tutorial">
          <ol class="rounded">
            <li><a href="https://t.me/naumyehor">Науменко Егор</a></li>
            <li><a href="https://t.me/Omelman">Омельченко Данила</a></li>
          </ol>
        </div>
      </section>
    </div>
  </body>
</html>
